
body {
   
   
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
}


#container{
    padding: 500px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    background-color: #f0f0f0;
}
#logo{
  height: 400px;
  width: 700px;
  margin-bottom: 200px;
}

#signIn{
    background-color: #8DD3BB;
    color: #112211;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 36px;
    margin-bottom: 16px;
    width: 300px;
    height: 150px;
    font-weight: 600;
  
}
